<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Squaddie - 500!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <script defer src="https://data.niceygy.net/script.js" data-website-id="587f25e4-e5c9-40f3-aa7b-0a789d34cd8e"></script>
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon" />
    
    <script>
      window.onload = function() {
        document.getElementById("functionResult").textContent = window.location.pathname;
        
        umami.track(`error_500_${window.location.pathname}`);
    };
    </script>
  </head>
  <body>
    <h1>Squaddie</h1>
    <p>Well... that's annoying. It seems like the page you have requested ('<span id="functionResult"></span>') has an error with it</p>
    <p>Please double-check your link is correct, and report a bug <a href="https://go.niceygy.net/squaddie_thread">here</a> if it is.</p>
    <p><i>DEBUG INFO: {{info}}</i></p>
    <br></br>
    <!-- <p>STACK DUMP: {{stack}}</p> -->
  </body>
  <div class="footer">
    <a href="{{ url_for('index') }}">Home</a>
  </div>
</html>
