{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <script defer src="https://data.niceygy.net/script.js" data-website-id="587f25e4-e5c9-40f3-aa7b-0a789d34cd8e"></script>
    <title>Welcome | Squaddie</title>
  </head>
  <body>
    {% block content %}
    <div class="mainText">
      <h1>Welcome to Squaddie</h1>
      <p><i>We can't think of an ancronym™️</i></p>
      <br><br>
      <p>Squaddie allows you to set goals for your squadron! Use the EDMC plugin to track your progress</p>
    </div>

    <span style="position: absolute; left: -9999px;">Squaddie should be screen reader friendly & tab navigable, but if you have any issues please contact me via go dot nice y g y dot net slash squaddie underscore thread"</span>
    
    <div class="authButtons">
        <p><a href="/auth/signin">Sign In</a></p> 
        <p><a href="/auth/signup">Sign Up</a></p>
        <!-- buttons -->
    </div>

    <div class="aboutIt">

    </div>

    <div class="images" style="text-align: right;">
        <!-- <img src="{{ url_for('static', filename='img/sittingTogether.jpg') }}" style="width: 30%; height: 30%; margin-right: 10vw;"> -->
    </div>
    {% endblock %}
  </body>
</html>
