{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Creation Complete | Squaddie</title>
  </head>
  <body>
    {% block content %}
    <script>
        function redirect() {
            window.location.href = "/squads/me"
        }
    </script>
    <h1>Goal '{{ goal_name }}'' created!</h1>
    <p>Squaddie will now automatically track contributions to this goal</p>
    <p>Remind people that they have to have the EDMC plugin installed & an account on Squaddie to contribute.</p>
    <br>
    <button onclick="redirect()">Continue</button>
    {% endblock %}
  </body>
</html>
