<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

    <script defer src="https://data.niceygy.net/script.js" data-website-id="587f25e4-e5c9-40f3-aa7b-0a789d34cd8e"></script>
    <title>Complete! | Squaddie</title>
  </head>
  <body>
    <script>
      function redirect() {
        window.location.href = "/squads/me";
      }
    </script>
    <h1>{{ message }}</h1>
    <p>Welcome {{ commander_name }}!</p>
    <br />
    <button onclick="redirect()">Go!</button>
  </body>
</html>
