<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

    <script defer src="https://data.niceygy.net/script.js" data-website-id="587f25e4-e5c9-40f3-aa7b-0a789d34cd8e"></script>
    <title>{{ squad_name }} | Squaddie</title>
  </head>
  <body>
    <script>
    </script>
    <h1>{{ squad_name }}</h1>
    <div class="leftInfo" style="text-align: left;">
        <li>Tag: {{ squad_tag }}</li>
        <li>Owned By: {{ owner }}</li>
        <li>Motto: {{ motto }}</li>
    </div>
  </body>
</html>
