<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='progressbar.css') }}" />

    <script defer src="https://data.niceygy.net/script.js" data-website-id="587f25e4-e5c9-40f3-aa7b-0a789d34cd8e"></script>
    <title>{{ name }} | Squaddie</title>
  </head>
  <body>
    <script>
      $(document).ready(function () {
        $(".animated-progress span").each(function () {
          $(this).animate(
            {
              width: $(this).attr("data-progress") + "%",
            },
            1000
          );
          $(this).text($(this).attr("data-progress") + "%");
        });
      });

      function newGoalRedirect() {
        window.location.href = "/goals/create";
      }
    </script>
    <h1 style="text-align: center">{{ name }}</h1>
    <div class="main" style="text-align: center">
      <h3>Tag: {{ tag }}</h3>
      <h3>Owned By: {{ owner }}</h3>
      <h3>Members:</h3>
      {% for cmdr in members %}
      <li>{{cmdr}}</li>
      {% endfor %}

      <br /><br />
      <button onclick="newGoalRedirect()">Create New Goal</button>
      <!-- </div> -->

      <br /><br />
      <!-- <div class="goalRight" style="text-align: right; margin-right: 10%; float: right"> -->
      <h2>Goal: {{ goal_data.name }}</h2>
      <p>{{ goal_data.info }}</p>
      <p>Progress: {{ goal_data.progress }} / {{ goal_data.goal }} {{ goal_data.units }} by {{ contributors }} members.</p>
      <progress value="{{ goal_data.progress }}" max="{{ goal_data.goal }}"></progress>
    </div>
  </body>
</html>
