{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='progressbar.css') }}" />
    <title>{{ name }} | Squaddie</title>
  </head>
  <body>
    {% block content %}
    <script>
      function newGoalRedirect() {
        if ("{{ is_owner }}" == "true") {
          umami.track("createNewGoal")
          window.location.href = "/goals/create";
        } else {
          umami.track("createNewGoalFail")
          window.alert("You don't own this squad!");
        }
      }
    </script>
    <h1>{{ name }}</h1>
    <div class="main">
      <h3>Tag: {{ tag }}</h3>
      <h3>Owned By: {{ owner }}</h3>
      <h3>Members:</h3>
      {% for cmdr in members %}
      <li>{{cmdr}}</li>
      {% endfor %}

      <br /><br />
      <button onclick="newGoalRedirect()">Create New Goal</button>
      <!-- </div> -->

      <br /><br />
      <!-- <div class="goalRight" style="text-align: right; margin-right: 10%; float: right"> -->
      <h2>Goal: {{ goal_data.name }}</h2>
      <p>{{ goal_data.info }}</p>
      <p>{{ help_message }}</p>
      <p>Progress: {{ goal_data.progress }} / {{ goal_data.goal }} {{ goal_data.units }} by {{ contributors }} members.</p>
      <progress value="{{ goal_data.progress }}" max="{{ goal_data.goal }}"></progress>
      <br /><br />
      <p>
        <i><a href="/squads/plugin">I need plugin help!</a></i>
      </p>
    </div>
    {% endblock %}
  </body>
</html>
