<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

    <script defer src="https://data.niceygy.net/script.js" data-website-id="587f25e4-e5c9-40f3-aa7b-0a789d34cd8e"></script>
    <title>Plugin Check | Squaddie</title>
  </head>
  <body>
    <h1>EDMC Plugin Check</h1>
    <p>Your plugin is {{ plugin_status }}</p>
    <p><i>Last seen at {{ plugin_last_seen }}</i></p>
    <br><br>
    <p>To install the plugin, go to <a href="https://github.com/niceygy/squaddieedmc/releases/latest">the latest release,</a></p>
    <p>Download the ZIP and extract it to the EDMC plugins folder</p>
    <p>(This is normally at C:\Users\__you__\AppData\Local\EDMarketConnector\plugins)</p>
    <p>Then restart EDMC and you will see squaddie appear on it!</p>
    <br>
    <button onclick="location.reload()">Check again</button>
  </body>
</html>
